function print_dotfiles() {
    echo "\n#########################################################################"
    echo "zshrc: "
    echo "#########################################################################\n"
    cat .zshrc
    echo "\n#########################################################################"
    echo "Aliases: "
    echo "#########################################################################\n"
    cat .aliases
    echo "\n#########################################################################"
    echo "Functions: "
    echo "#########################################################################\n"
    cat .functions
}

function mkcd() {
    mkdir -p "$@" && cd "$_";
}